{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list huerta %}

{% block extrastyle %}
  {{ block.super }}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></li>
    <li>{{ cl.opts.verbose_name_plural|capfirst }}</li>
  </ol>
{% endblock %}
{% endif %}

{% block object-tools %}
    <ul class="pull-right list-inline">
      {% block object-tools-items %}
        {% if has_add_permission %}
        <li>
          {% url cl.opts|admin_urlname:'add' as add_url %}
          <a class="btn btn-default" href="{% add_preserved_filters add_url is_popup to_field %}">
            <span class="glyphicon glyphicon-plus"></span>
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
        </li>
        {% endif %}
      {% endblock %}
    </ul>
{% endblock %}


{% block content %}
  {% block filters %}
    {% if cl.has_filters %}
      <div class="panel panel-default top-filters">
        <div class="panel-heading">
          <div class="panel-title"{% if cl.model_admin.filters_collapsable %} data-toggle="collapse" href="#filter-list" aria-expanded="true" aria-controls="filter-list"{% endif %}>
            <h3 class="float-left">{% trans 'Filter' %}</h3>
             {% if cl.model_admin.filters_collapsable and request.GET|length %}
               <div id="filter-list-collapsed-header">
                 <span class="count">
                   {{ cl.result_count }} {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}
                 </span>
                 <span id="filter-list-collapsed-header-filterdisplay"><!--fill me with what was filtered -->
                 </span>
               </div>
             {% endif %}
          </div>
        </div>
        <div id="filter-list" class="{% if cl.model_admin.filters_collapsable %} collapse{% if not request.GET|length %} in{% endif %}{% endif %}">
          <div class="panel-body">
            {% for spec in cl.filter_specs %}
              {% if spec.template == 'admin/collapsed_filter.html' %}
                {% collapsed_admin_list_filter cl spec %}
              {% else %}
                {% admin_list_filter cl spec %}
              {% endif %}
            {% endfor %}
          </div>
          {% if cl.model_admin.filters_require_submit %}
            <div class="panel-footer">
              <a href="{{ request.path }}" id="submit-filters" class="btn btn-primary">Filter</a>
            </div>
          {% endif %}
        </div>
      </div>
      {% if cl.model_admin.filters_require_submit %}
        <script type="text/javascript">
          if (!window.$ && django.jQuery) {
              window.$ = django.jQuery;
          }
          var urlPath = '{{ request.path }}';
          var $submitLink = $('#submit-filters');
          // urlParams from https://stackoverflow.com/a/2880929
          var urlParams;
          (window.onpopstate = function () {
              var match,
                  pl     = /\+/g,
                  search = /([^&=]+)=?([^&]*)/g,
                  decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                  query  = window.location.search.substring(1);
              urlParams = {};
              while (match = search.exec(query))
                 urlParams[decode(match[1])] = decode(match[2]);
          })();

          function getDropDownStatus(menu) {
            var displayValues = []
            var name = $('label', $(menu).parents('.collapsed-filter')).text().replace(/^\s*By\s*/,'');
            var displayValues = $('a', menu)
              .filter(function(){
                return $(this).attr('data-select-type') == 'remove'
              })
              .map(function() {
                return $('.dropdown-display-value', this).text()
              }).toArray();
            return {
              'name': name,
              'displayValues': displayValues,
              'menu': menu
            };
          }

          $('#filter-list .dropdown-menu a').click(function() {
            /* This toggles the selection for particular items
             * by adding data-select-type={add,remove} appropriately
             * and also updating global variable `urlParams`
             * which will be submitted on the Filter button
             *
             * A frustrating edge case is when Null is an option
             * which we have to navigate around quite a bit.
             * that has a parameter_name + '__isnull' in urlParams
             * and collapsed value will be "EMPTY" (to avoid colliding with All)
             */
            var $link = $(this);
            var $menu = $link.parents('.dropdown-menu');
            var $allLi = $menu.find('a[data-value=""]').parent();
            var type = $link.attr('data-select-type');
            var parameter = $link.attr('data-parameter');
            var value = $link.attr('data-value');
            var values = [];
            var isNullParam = ((parameter+'__isnull') in urlParams);
            if (parameter in urlParams) {
              values = urlParams[parameter].split(',');
            }
            var valueIndex = values.indexOf(value);
            var $button = $('#dropdown-filter-' + parameter);

            if (value == '') {
              // On "All" links, remove all values and reset
              // all other links.
              values = [];
              isNullParam = false;
              $menu.find('a[data-select-type=remove]').each(
                function(index, item) {
                  var $menuLink = $(item);
                  $menuLink.attr('data-select-type', 'add');
                  $menuLink.text($menuLink.attr('data-value'));
                }
              );
            } else {
              if (type == 'add') {
                $link.attr('data-select-type', 'remove');
                $('.text-danger', $link).removeClass('hidden');
                if (value === 'EMPTY') {
                  isNullParam = true;
                } else if (valueIndex == -1) {
                  values.push(value);
                }
              } else {
                $link.attr('data-select-type', 'add');
                $('.text-danger', $link).addClass('hidden');
                if (value === 'EMPTY') {
                  isNullParam = false;
                } else if (valueIndex > -1) {
                  values.splice(valueIndex, 1);
                }
              }
              values = values.sort();
            }
            urlParams[parameter] = values.join(',');
            if (isNullParam) {
              urlParams[parameter+'__isnull'] = 'True'
            } else {
              delete urlParams[parameter+'__isnull'];
            }
            if (values.length > 0 || isNullParam) {
              var fullStatus = getDropDownStatus($menu);
              $button.html(fullStatus.displayValues.join(', ') + ' <span class="caret"></span>');
              $allLi.removeClass('disabled');
            } else {
              delete urlParams[parameter];
              $button.html('All <span class="caret"></span>');
              $allLi.addClass('disabled');
            }

            $submitLink.attr('href', urlPath + '?' + $.param(urlParams));
            return false;
          })
          $(function() {
            var filtersOn = $('#filter-list .dropdown-menu')
              .map(function() {
                return getDropDownStatus(this);
              }).filter(function() {
                return (this.displayValues.length
                        && this.displayValues[0] != 'All');
              }).toArray();
            if (filtersOn.length) {
              $('#filter-list-collapsed-header-filterdisplay').html(
                filtersOn.map(function(f){ return '<b>'+ f.name + '</b>: ' + f.displayValues.join(','); }).join(' ')
              )
            }
          })
        </script>
      {% endif %}
    {% endif %}
  {% endblock %}
  <div class="row">
    <div class="col-md-12">

      {% if cl.formset.errors %}
          <p class="errornote">
          {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
          </p>
          {{ cl.formset.non_form_errors }}
      {% endif %}
      <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
        {% block search %}{% search_form cl %}{% endblock %}
        {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

        <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        {% if cl.formset %}
          <div>{{ cl.formset.management_form }}</div>
        {% endif %}



        {% block result_list %}
            {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
            {% result_list cl %}
            {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        {% endblock %}
        {% block pagination %}{% pagination cl %}{% endblock %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
