{% load i18n %}
<div class="row panel-body">
  <div class="col-md-6">
    <label for="dropdown-filter-{{spec.parameter_name}}">{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</label>
  </div>
  <div class="col-md-6">
    <div class="input-group-btn">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-filter-{{spec.parameter_name}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {% for choice in selected_choices %}
            {# with multiselect we surround with >'s to visually separate multiple options #}
            {{choice.display}}{% if choice.multiselect and not forloop.last %},{% endif %}
        {% endfor %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-filter-{{spec.parameter_name}}">
        {% for choice in choices %}
        <li  {% if choice.selected and not choice.multiselect %}class="disabled"{% endif %}>
          <a href="{{choice.query_string|iriencode}}">
            {% if choice.selected and choice.multiselect %}
              <span class="text-danger">[x]</span>
            {% endif %}
            {{choice.display}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
