{% load i18n %}
<div class="panel-body">
  <b>By {{ title }}</b>
  {% if choices|slice:"4:" %}
    <select class="form-control"
  onchange="window.location = window.location.pathname + this.options[this.selectedIndex].value;">
      {% for choice in choices %}
        <option{% if choice.selected %} selected="selected"{% endif %} value="{{ choice.query_string|iriencode }}">{{ choice.display }}</option>
      {% endfor %}
    </select>
  {% else %}
    <ul class="list-group">
      {% for choice in choices %}
        <li class="list-group-item{% if choice.selected %} list-group-item-info{% endif %}">
          <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
