{% load i18n %}
<div class="row text-input-filter">
  <div class="col-md-{% if cl.model_admin.change_list_template == 'admin/change_list_filters_top.html' %}4{% else %}12{% endif %}">
    <b>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</b>
  </div>
  <div class="col-md-{% if cl.model_admin.change_list_template == 'admin/change_list_filters_top.html' %}8{% else %}12{% endif %}">
    <input id="id_{{spec.parameter_name}}" name="{{spec.parameter_name}}" type="text" value="{% if spec.value %}{{spec.value}}{% endif %}" class="form-control" />
  </div>
</div>
