{% load i18n huerta static %}
<!DOCTYPE html>
<!--[if IE 8]>     <html class="ie8"> <![endif]-->
<!--[if IE 7]>     <html class="ie7"> <![endif]-->
<!--[if IE 9]>     <html class="ie9"> <![endif]-->
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>{% if site_name %}{{site_name}} | {% endif %}{% block title %}{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
  {% if extrastaticcss %}
    {% for cssfile in extrastaticcss %}
      <link rel="stylesheet" type="text/css" href="{% static cssfile %}" />
    {% endfor %}
  {% endif %}
  {% block stylesheets %}{% endblock %}
  {% block extrastyle %}{% endblock %}
  {% block extrahead %}{{extrahead|safe}}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    {% block header %}
            {% if not is_popup %}
              <nav class="navbar navbar-default">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="/"></a>
                      </div>
                      {% if user and user.is_authenticated %}
                        <div class="navbar-text">
                        {% trans 'Welcome,' %}
                        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                        </div>
                      {% endif %}
                      <ul class="nav navbar-nav navbar-right">
                        {% for app in apps %}
                          {{ app | app_links:request | safe }}
                        {% endfor %}
                        {% block userlinks %}
                            {% if request.user.id %}
                            <li><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans 'Log out' %}</a></li>
                            {% endif %}
                        {% endblock %}
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
            {% endif %}
    {% endblock %}

    <article class="{% block content-class %}{% endblock %}">

        {% block messages %}
            {% if messages %}
                <ul class="alerts">
                    {% for message in messages %}
                        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}

        <div class="container" role="main">
          <div class="row">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block object-tools %}{% endblock %}
            {% block content %}
                {{ content }}
                {% block filters %}{% endblock %}
            {% endblock %}
{% block footer_override %}
          </div>
        </div>

    </article>

    {% block footer %}{% endblock %}

    {% if extrafooter %}
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-8 small">
              {{extrafooter|safe}}
            </div>
          </div>
        </div>
      </footer>
    {% endif %}
</body>
</html>
{% endblock %}
